<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Automotive Historical Preservation Society</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/ahps.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-green fixed-top">
      <div class="container">
        <img class="ahpslogo" src="/static/ahpslogo.png"/>
        <a class="navbar-brand" href="#">Automotive Historical Preservation Society</a>
      </div>
     <form class="navbar-form navbar-right" action="/search" method="POST">
              <input type="text" placeholder="Search" name="search"class="form-control">
              {% csrf_token %}
     </form>
    </nav>
    <!-- Page Content -->
    <div class="container-fluid">

      <div class="row">
      {% block content %}
      {% endblock %}

      {% block sidebar %}
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                  {% for sidebar_category in sidebar_categories %}
                    <li>
                      <a href="/category/{{ sidebar_category.slug }}">{{ sidebar_category.name }}</a>
                    </li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Donate</h5>
            <div class="card-body text-center">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" value="HEGDMZQC43B2S" />
                <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
                </form>
            </div>
          </div>

        </div>
      {% endblock %} 
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">The Auto History Preservation Society Website and Logo: Copyright 2010-2018 - All Rights Reserved.</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
